---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} />
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>
<div class="container">
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by {frontmatter.author}</p>
</div>
<slot />
